/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
/*nav*/
.header{
    position: fixed;
    width: 100%;
    background: #f7fafd;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 90px;
}
#logo{
    display: inline-block;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 5px;
    width: 40%;
    margin-right: 15px;
}
.menu{
    z-index: 1;
    padding-right: 15px;
}
.menu a{
    color: #333;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 700;
    transition: 0.4s;
}
.menu-view,
.menu-hide{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.menu-view{
    order: 1;
}
.menu a:hover,
.menu-view:hover,
.menu-hide:hover{
    color: #ff556e;
}
#check{
  display: none;
}
#download{
    color:  #ff556e;
    border: 2px solid #ff556e;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*main*/
/*landing*/
.landing{
    padding-top: 150px;
    width: 100%;
    background: #f3fafb;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    box-sizing: border-box;
}
.container-text h1 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    text-align: center;
    color: #333;
}
.container-text h2{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    font-weight: 200;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
}
.download_button{
    display: flex;
    justify-content: center;
    gap: 10px;
    vertical-align: middle;
}
.download_apple,
.download_play{
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #ff556e;
    border-radius: 20px;
    padding: 5px;
    background: #ff556e;
    color: #f3fafb;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.download_apple a{
    text-decoration: none;
    color: #f3fafb;
}
.download_play a{
    text-decoration: none;
    color: #f3fafb;
}
#icono_apple,
#icono_play{
    height: 15px;
    width: 15;
    vertical-align: middle;
}
/*iphone*/
.iphone{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    background:#f7fafd ;
}
.container-iphone{
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}
#iphone_landing{
    width: 90%;
    display: flex;
    margin: auto;
}

/*icons*/
.icons{
    background-color: #f7fafd;
    
}
.icons-landing{
    width: 100%;
    padding-left: 30px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}
.cell{
    display: inline-block;
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 170px;
    max-width: 100%;
    vertical-align: top;
    background-color: transparent;
}
#icon{
    width: 70%;
}
/*description*/
.descriptions{
    background-color: #f7fafd;
    padding-top: 90px;
    padding-bottom: 100px;
}
.description-container{
    width: 100%;
    padding-right: 30px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f7fafd;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#description1{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.left{
    display: inline-block;
    width: 45%;
    padding-left: 15px; 
    box-sizing: border-box;  
}
.left a{
    text-decoration: none;
    color: #333;
}
.right{
    display: inline-block;
    width: 45%;
    padding-right: 15px;
    box-sizing: border-box;
}
h3{
    margin-bottom: 25px;
    font-size: 40px;
    color: #333;
    box-sizing: border-box;
    display: block;
    text-align: left;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    box-sizing: border-box;
    display: block;
    text-align: left;
    line-height: 1.5;
}
ul{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
    padding-bottom: 15px;
}
.lightbox{
    justify-content: center;
    vertical-align: middle;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #ff556e;
    border-radius: 23px;
    padding: 5px;
    background: #ff556e;
    color: #f3fafb;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.right a{
    text-decoration: none;
    color: #f3fafb;
}
.descriptions2{
    width: 100%;
    background-color: #e8eff6;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.description2-container{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e8eff6;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button_container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 3%;
    box-sizing: border-box;
    vertical-align: middle;
}
#icono_schedule{
    width: 25%;
    vertical-align: middle;
}
#icono_tracking{
    width: 25%;
    vertical-align: middle;
}
#icono_organize{
    width: 25%;
    vertical-align: middle;
}
.button_description1{
    background-color: #9a67e7;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    display: block;
    align-items: center;
    text-decoration:none;
    text-align: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.button_description{
    background-color: #f7fafd;
    color: #212529;
    font-size: 16px;
    font-weight: 400; 
    border: none;
    display: block;
    align-items: center;
    text-decoration:none;
    text-align: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.list2{
    list-style-image: url(/images/check.png);
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
    padding-bottom: 15px;
}
.button_container2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 2%;
    box-sizing: border-box;
    vertical-align: middle;
}
.lightbox1{
    justify-content: center;
    vertical-align: middle;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 23px;
    padding: 5px;
    background: transparent;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;   
}
/*features*/
.user_testimonials{
    width: 100%;
    background-color: #f7fafd;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.user_text{
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;
}
.users{
    text-align: center;
}
.user_testimonial{
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    word-wrap: break-word;
}
.cell1{
    display: inline-block;
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
    max-width: 100%;
    vertical-align: top;
    background-color: transparent;
}
.stars_text{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
}
.primester{
    position: relative;
    width: 75%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    background-color: #fff;
}
#icon1{
    width: 45%;
}
.user_testimonial1{
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    word-wrap: break-word;
}
.numbers{
    background-color: #e8eff6 ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.numbers_list{
    width: 100%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}
#icon2{
    width: 35%;
}
#icon3{
    width: 52%;
}
h4{
    font-weight: 700;
    font-size: 56px;
    color: #333;
}
/*last iphone*/
.iphone_landing{
    width: 100%;
    background: #fff;
}
#iphone_landing{
    width: 75%;
    padding-top: 90px;
}
.last_iphone{
    width: 100%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal1{
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    box-sizing: border-box;
}
.container-text h2{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: 200;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
}
.download_button1{
    display: flex;
    justify-content: center;
    gap: 12px;
    vertical-align: middle;
    padding-bottom: 100px;
}
.download_apple1,
.download_play1{
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #ff556e;
    border-radius: 23px;
    padding: 5px;
    background: #ff556e;
    color: #f3fafb;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    align-items: center;
}
.download_apple1 a{
    text-decoration: none;
    color: #f3fafb;
}
.download_play1 a{
    text-decoration: none;
    color: #f3fafb;
}
/*footer*/
.footer{
    width: 100%;
    background: #fff;
    border-top: 1px solid #c8d4d6;
}
.footer_container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.icons-footer{
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}
.cell8{
    display: inline-block;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    max-width: 100%;
    vertical-align: top;
    background-color: transparent;
}
.footer_titles{
    text-align: left;
    font-size: 18px;
    color: #999;
    line-height: 1.5;
    padding-bottom: 5px;
}
.footer_text{
    text-align: left;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
    color: #999;
}
.list4{
    list-style-image: url(/images/Vector.png);
    font-size: 12px;
    font-weight: 400;
    color: #999;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
    padding-bottom: 15px;
}
.list5{
    list-style-image: url(/images/Mail.png);
    font-size: 12px;
    font-weight: 400;
    color: #999;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
    padding-bottom: 15px;
}
.list6{
    list-style-image: url(/images/Phone.png);
    font-size: 12px;
    font-weight: 400;
    color: #999;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-left: 15px;
    line-height: 2;
    padding-bottom: 15px;
}
.cell5{
    display: inline-block;
    padding-bottom: 50px;
    width: 170px;
    max-width: 100%;
    vertical-align: top;
    background-color: transparent;
    flex-direction: row;
}
#icon5{
    width: 23%;
}
.copy{
    width: 100%;
    padding-bottom: 30px;
}
.footer_text2{
    text-align: center;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #999;
}
/* Responsive*/
@media(max-width: 320px){
  /*Header*/
  .menu-view,
  .menu-hide{
      display: block;
  }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #f3fafb;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0;
      z-index: 100;
      transition: 0.8s;
  }
  .menu a{
      display: block;
      padding: 15px;
  }
  .menu-hide{
      position: absolute;
      top:40px;
      right: 40px;
  }
  #check:checked ~ .menu{
      right: 0;
  }
}