h1{

    font-family: 'Open sands', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: white;
    position: absolute;
    width: 266px;
    left: 206px;
    margin-top: 25px;
}